.menu-item-card {
    border-radius: 12px; /* Add border radius to the card */
    padding:0px;
}

.card-img {
    width: 100%; /* Set the width of the image to 100% */
    height: 170px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the image covers the entire container */
}

